<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>Platzi Layout</title>
</head>
<body>
    <header>
        <nav class="nav-bar">
            <figure>
                <img src="./img/logo.png" alt="Platzi Logo">
            </figure>
            <ul class="nav-bar__menu">
                <li>Home</li>
                <li>Cursos</li>
                <li>Instructores</li>
                <li>Blog</li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="sidebar">
            <nav>
                <section></section>
                <section></section>
                <section></section>
                <section></section>
            </nav>
        </section>
    </main>
    <footer>
        <p>Síguenos en nuestras redes.</p>
    </footer>
</body>
</html>