* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 65.5%;
}

img {
    max-width: 100%;
    max-height: 100%;
    min-height: 90rem;
}

.parent {
    position: relative;
    top: 15rem;
    width: 40rem;
    margin: auto;
    text-align: center;
}

.parent__background {
    display: block;
    position: absolute;
    background-color: whitesmoke;
    border-radius: 1rem;
    height: 50rem;
    width: 40rem;
}

.parent__background_accent {
    width: 40rem;
    position: absolute;
    height: 10rem;
    background: linear-gradient(45deg, #436228, #99B927);;
    border-radius: 0 0 1rem 1rem;
    bottom: 0;
    color: white;
}

.parent__background img {
    padding: 2rem;
    width: 61%;
    height: 61%;
    min-height: 0%;
}

.parent__location {
    font-size: 1.5rem;
    color:#436228;
    line-height: 3rem;
}

.parent__name {
    font-size: 2rem;
    line-height: 3rem;
}

.parent__origin {
    line-height: 3rem;
    font-size: 1.5rem;
    text-decoration: underline;
    color: #ECBA3D;
}

.parent__background_accent li {
    list-style: none;
    display: inline-block;
    font-size: 2rem;
    position: relative;
    margin:0;
}

.parent__background_accent ul {
    text-align: center;
    margin: 2.4rem;
}