* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    background-color: rgb(255, 246, 228);
    font-family: Arial, Helvetica, sans-serif;
}

/* * {
    background-color: wheat;
} */

.main-nav {
    list-style: none;
    background-color:teal;
    opacity: 50%;
    padding: 0%;
    margin-top: 1rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1rem;
}

.main-nav__item {
    display: inline-block;
    margin-right: 1%;
}

.main-nav__item a {
    color: white;
    font-size: 230%;
    padding: 20%;
    text-decoration: none;
}

.main-nav__item a:hover {
    color: rgb(138, 210, 210);
}

.main-nav__item a:active {
    color: wheat;
}

.main-nav__item a::before {
    content: "|";
}

.main-title {
    color:rgb(12, 142, 135);
    text-align: center;
    font-size: 1rem;
}

.main-subtitle {
    text-align: center;
    color:rgb(33, 172, 165);
}

.main-subtitle a {
    color:rgb(33, 172, 165);
}

.main-form {
    background-color: rgb(220, 201, 166);
    text-align: center;
    width: 50%;
}

.main-form__item {
    text-align: center;
    list-style: none;
    color: whitesmoke;
}